*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__logo {
  font-family: 'shrikhand' , cursive;
}

* {
  font-family: 'roboto', sans-serif;
}

.header {
  width: 100%;
  text-align: center;
}

.header__logo {
  font-size: 2rem;
  padding: 1rem 0 0.2rem 0;
}

.header__location {
  background: #ebebeb;
  background: #eaeaea;
  padding: 1rem 0 1rem 0;
  font-size: 1.1rem;
  -webkit-box-shadow: inset 0 2px 10px #afafaf;
          box-shadow: inset 0 2px 10px #afafaf;
}

.header__location i {
  margin-right: 1rem;
}

.container {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--grey {
  background: #f6f6f6;
}

.container ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container__header {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding: 1.5rem;
  background: #f6f6f6;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  -webkit-box-shadow: 2px 5px 10px #b3b3b3;
          box-shadow: 2px 5px 10px #b3b3b3;
}

.step__nbr {
  color: white;
  background: #9356dc;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border-radius: 2rem;
  position: relative;
  right: 3rem;
}

.step__icon {
  color: grey;
  padding-right: 1.8rem;
  font-size: 1.25rem;
}

.step--active:hover {
  background: #f4ebff;
}

.step--active:hover i {
  color: #9356dc;
}

.presentation {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #f6f6f6;
}

.presentation--grey {
  background: #f6f6f6;
}

.presentation h2 {
  font-size: 1.8rem;
  padding: 0 1rem 0 1rem;
}

.presentation p {
  font-size: 1rem;
  padding: 1rem 0rem 2rem 0rem;
}

.presentation__btn {
  font-size: 1.0rem;
  padding: 1.2rem 1.5rem 1.2rem 1.5rem;
  border: none;
  border-radius: 3rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
}

.container {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--grey {
  background: #f6f6f6;
}

.container__header {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.new {
  position: relative;
  z-index: 1;
  top: 2.5rem;
  left: 62vw;
  background: #99E2D0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.card {
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem silver;
          box-shadow: 0.1rem 0.1rem 1rem silver;
  border-radius: 1rem;
}

.card__picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 1rem 1rem 0 0;
}

.card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background: white;
  padding: 0.5rem 0 0 1rem;
  border-radius: 0 0 1rem 1rem;
}

.card__tags__name {
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: 0;
  color: black;
}

.card__tags__city {
  width: 100%;
  color: black;
}

.card__tags .fa::before {
  font-size: 2rem;
  background: linear-gradient(45deg, #FF79DA, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__tags__icon {
  padding: 1rem;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #353535;
}

.footer__header {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  color: white;
}

.footer__list {
  font-size: 1.1rem;
  padding-bottom: 0.7rem;
}

.footer__list__icon {
  width: 2rem;
  color: white;
}

.footer a {
  color: white;
}
/*# sourceMappingURL=main.css.map */