@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes hideLdSpinner {
  to {
    visibility: hidden;
  }
}

@keyframes hideLdSpinner {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes hideScrollBar {
  from {
    overflow-y: hidden;
  }
  to {
    overflow: visible;
  }
}

@keyframes hideScrollBar {
  from {
    overflow-y: hidden;
  }
  to {
    overflow: visible;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-animation: hideScrollBar 3s step-end;
          animation: hideScrollBar 3s step-end;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header *, .footer__logo, .logo {
  font-family: 'shrikhand' , cursive;
  font-weight: normal;
}

h4 {
  font-size: 1.1rem;
}

* {
  font-family: 'roboto', sans-serif;
}

.btn {
  font-size: 1.0rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: none;
  outline-style: none;
  border-radius: 3rem;
  color: #ffffff;
  background: linear-gradient(45deg, #FF79DA, #9356dc);
  -webkit-box-shadow: 2px 5px 10px #b3b3b3;
          box-shadow: 2px 5px 10px #b3b3b3;
}

.btn--long {
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 2rem 0 3rem 0;
}

.btn:hover {
  background: linear-gradient(45deg, #ff93e1, #a16be0);
  -webkit-box-shadow: 3px 6px 10px #676767;
          box-shadow: 3px 6px 10px #676767;
}

.bookmark {
  background: transparent;
  border-style: none;
  outline-style: none;
}

.bookmark .far {
  position: relative;
  left: 29px;
  opacity: 1;
}

.bookmark .fas {
  background: linear-gradient(45deg, #FF79DA, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.bookmark--degrade:active .far {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.bookmark--degrade:active .fas {
  opacity: 1;
  -webkit-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #a16be0;
  -webkit-animation: 3s hideLdSpinner;
          animation: 3s hideLdSpinner;
  -webkit-animation-timing-function: unset;
          animation-timing-function: unset;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loading-spinner h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.loading-spinner div {
  content: " ";
  width: 140px;
  height: 140px;
  border: 20px solid #a16be0;
  border-radius: 50%;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  -webkit-transform: rotate(0.16turn);
          transform: rotate(0.16turn);
  -webkit-animation: loading-spinner 1s ease infinite;
          animation: loading-spinner 1s ease infinite;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.header__link {
  color: black;
  margin-left: 1rem;
  font-size: 0.8rem;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo {
  padding: 1rem 0 0.2rem 0;
  -ms-grid-column: 2;
  grid-column: 2;
}

.guide {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.guide__title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ebebeb;
  background: #eaeaea;
  padding: 1rem 0 1rem 0;
  font-size: 1.1rem;
  -webkit-box-shadow: inset 0 2px 5px #afafaf;
          box-shadow: inset 0 2px 5px #afafaf;
}

.location i {
  margin-right: 1rem;
}

.brief-outline {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #f6f6f6;
}

.brief-outline h2 {
  font-size: 1.8rem;
  padding: 0 1rem 0 1rem;
}

.brief-outline p {
  font-size: 1.1rem;
  padding: 1rem 0rem 2rem 0rem;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding: 1.5rem 0;
  background: #f6f6f6;
  margin-bottom: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 5px 10px #b3b3b3;
          box-shadow: 2px 5px 10px #b3b3b3;
}

.steps__item p {
  color: white;
  background: #9356dc;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border-radius: 50%;
  margin-left: -1rem;
}

.steps__item i {
  color: grey;
  padding: 0 1.8rem;
  font-size: 1.5rem;
}

.steps__item--highlight:hover {
  background: #f4ebff;
}

.steps__item--highlight:hover i {
  color: #9356dc;
}

.guide {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.guide__title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.cards-list {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #f6f6f6;
}

.cards-list__title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.card {
  -webkit-box-shadow: 0.1rem 0.1rem 1rem silver;
          box-shadow: 0.1rem 0.1rem 1rem silver;
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

.card__tag {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: #99E2D0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.card__picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 1rem 1rem 0 0;
}

.card figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.card__title {
  width: 100%;
  color: black;
  text-align: left;
}

.card__city {
  padding-top: 0.2rem;
}

.card__icon {
  padding-right: 1rem;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #353535;
}

.footer__logo {
  padding-bottom: 1rem;
  color: white;
}

.footer a {
  color: white;
}

.footer__list li {
  padding-bottom: 0.7rem;
}

.footer__list li i {
  width: 2rem;
  color: white;
}

.picture {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 70vw;
  margin-bottom: -3rem;
  z-index: -1;
}

.menu {
  padding: 2rem 1rem;
  background: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}

.menu header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
}

.menu__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.75em;
}

.menu__part {
  padding-top: 2rem;
  padding-bottom: 3px;
  margin-bottom: 1rem;
  border-bottom: 3px solid #99E2D0;
  margin-right: 88%;
}

.menu nav {
  text-align: center;
}

.menu .dish:nth-child(1) {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu .dish:nth-child(2) {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu .dish:nth-child(3) {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.dish {
  margin: 1rem 0;
  background: #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem silver;
          box-shadow: 0.1rem 0.1rem 1rem silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  -webkit-animation: fadein 0.5s linear 1 both;
          animation: fadein 0.5s linear 1 both;
}

.dish__title {
  padding: 1rem 0 1rem 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.dish__title p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish__title p:first-child {
  padding-bottom: 0.2rem;
  font-size: 1.1rem;
}

.dish__title p:nth-child(2) {
  font-size: 0.9rem;
}

.dish__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1rem 1.5rem;
  background: #ffffff;
  border-radius: 0 0 1rem 0;
}

.dish__icon {
  border-style: none;
  outline-style: none;
  color: #ffffff;
  background: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.dish__icon i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dish__icon i::before {
  margin: 1rem;
}

.dish--check:active p {
  white-space: nowrap;
}

.dish--check:active .dish__icon {
  width: 20%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.dish--check:active .dish__icon i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dish--check:active .dish__icon i::before {
  margin: 1rem;
}
/*# sourceMappingURL=main.css.map */