.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
        &__logo{
            padding: 1rem 0 0.2rem 0;
            text-align: center;
            flex: auto;
        }
        &__link{
            color: black;
            margin-left: 1rem;
        }
}