.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
        &__link{
            color: black;
            margin-left: 1rem;
            font-size: 0.8rem;
            grid-column: 1;
            align-self: center;
            display: flex;
            justify-content: flex-start;
        }
        &__logo{
            padding: 1rem 0 0.2rem 0;
            grid-column: 2;
        }
}