.loading-spinner {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $colour-primary-lighten;
    animation: 3s hideLdSpinner;
    animation-timing-function: unset;
    animation-fill-mode: both;
        p{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        div {
            content: " ";
            width: 140px;
            height: 140px;
            border: 20px solid $colour-primary-lighten;
            border-radius: 50%;
            border-top-color: $colour-tertiary;
            border-bottom-color: $colour-tertiary;
            transform: rotate(0.16turn);
            animation: loading-spinner 1s ease infinite;
            animation-iteration-count: 4;
        }
}
