.loading-spinner {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(208, 213, 216, 0.500);
    animation: 3s hideLdSpinner;
    animation-timing-function: unset;
    animation-fill-mode: both;
        div {
            content: " ";
            width: 140px;
            height: 140px;
            border: 25px solid rgb(192, 192, 192);
            border-radius: 50%;
            border-top-color: $colour-primary;
            transform: rotate(0.16turn);
            animation: loading-spinner 1s ease infinite;
            animation-iteration-count: 4;
        }
}