.container{
    @include container;
    ol{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__header{
        @include container__header;
    }
}

.step{
    @include step;
}

.step--active{
    @include step--active;
}