.guide{
    @include container;
    ol{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__title{
        @include container__title;
    }
}

.step{
    @include step;
        &:hover{
            @include step--active;
        }
}