.btn{
    font-size: 1.0rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: none;
    outline-style: none;
    border-radius: 3rem;
    color: $colour-white;
    background: $colour-degrade;
    box-shadow: 2px 5px 10px lighten(grey, 20%);
        &--long{
                padding-left: 3rem;
                padding-right: 3rem;
                margin: 2rem 0 3rem 0;
        }
        &:hover{
            background: $colour-degrade-light;
            box-shadow: 3px 6px 10px darken(grey, 10%);
        }
}

.bookmark{
    background: transparent;
    border-style: none;
    outline-style: none;
        .fas{
            display: none;
        }
        &--degrade:active{
            color: transparent;
            .far{
                display: none;
            }
            .fas{
                animation: degrade 1s;
                display: block;
            }
        }
}

@keyframes degrade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
        background: $colour-degrade;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        opacity: 1;
        background: $colour-degrade;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}