*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.page {
    margin: auto;
    box-sizing: border-box;
    background: $colour-white;
    max-width: 1024px;
    // ********** ANIMATION *************
    // cache scroll bar y pdt loading spinner
        &--loader{
            animation: hideScrollBar 3s step-end;  
        }
}

ul li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}