.picture{
    position: relative;
    object-fit: cover;
    width: 100%;
    margin-bottom: -3rem;
    z-index: -1;
}

.menu{
    padding: 2rem 1rem;
    background: $colour-light-grey;
    border-radius: 2rem 2rem 0 0;
        header{
            display: flex;
            padding-right: 1rem;
        }
        &__title{
            flex-grow: 1;
            font-size: 1.75em;
        }
        &__part{
            padding-top: 2rem;
            padding-bottom: 3px;
            margin-bottom: 1rem;
            // titre souligné couleur menthe sur 12% (100-88%) de la largeur
            border-bottom: 3px solid $colour-tertiary;
            margin-right: 88%;
            // ******************************
        }
        nav{
            text-align: center;
        }
        .dish:nth-child(1) {
            animation-delay: 0.2s;
        }
        .dish:nth-child(2) {
            animation-delay: 0.4s;
        }
        .dish:nth-child(3) {
            animation-delay: 0.6s;
        }
}

.dish{
    margin: 1rem 0;
    background: $colour-white;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem lighten(grey, 25%);
    display: flex;
    justify-content: space-between;
        &__title{
            padding: 1rem 0;
            padding-left: 0.5rem;
            width: 82%;
            p {
                // nécessaire pour text-overflow
                white-space: nowrap;
                overflow: hidden;
                // ************************
                text-overflow: ellipsis;
                    // description du plat
                    &:first-child{
                        padding-bottom: 0.2rem;
                        font-size: 1.2rem;
                    }
                    // 2ème ligne du plat
                    &:nth-child(2){
                        font-size: 0.9rem;
                    }
            }
        }        
        &__price{
            // margin: 0 1rem;
            align-self: flex-end;
            padding: 1rem;
            background: $colour-white;
            border-radius: 0 0 1rem 0;
        }
        // bouton de check caché
        &__icon{
            display: none;
        }

        // bouton de check actif au clic
        &--check:active{
            .dish__title{
                width: 65%;
            }
            .dish__icon{
                border-style: none;
                outline-style: none;            
                display: flex;
                align-items: center;
                justify-content: center;
                color: $colour-white;
                background: $colour-tertiary;
                border-radius: 0 1rem 1rem 0;
                text-align: center;
                font-size: 1.5rem;
                animation: check 0.3s linear 1 both;
                i{
                    animation: checkRotate 0.3s linear 1 both;
                }
            }
        }
}