.picture{
    position: relative;
    object-fit: cover;
    width: 100%;
    max-height: 70vw;
    margin-bottom: -3rem;
    z-index: -1;
}

.menu{
    padding: 2rem 1rem;
    background: $colour-light-grey;
    border-radius: 2rem 2rem 0 0;
        header{
            display: flex;
            padding-right: 1rem;
        }
        &__title{
            flex-grow: 1;
            font-size: 1.75em;
        }
        &__part{
            padding-top: 2rem;
            padding-bottom: 3px;
            margin-bottom: 1rem;
            // titre souligné couleur menthe sur 12% (100-88%) de la largeur
            border-bottom: 3px solid $colour-tertiary;
            margin-right: 88%;
            // ******************************
        }
        nav{
            text-align: center;
        }
        // ********** ANIMATION *************
        // apparition progressive des plats
        .dish:nth-child(1) {
            animation-name: fadein;
            animation-delay: 0.2s;
        }
        .dish:nth-child(2) {
            animation-name: fadein;
            animation-delay: 0.4s;
        }
        .dish:nth-child(3) {
            animation-name: fadein;
            animation-delay: 0.6s;
        }
}

.dish{
    margin: 1rem 0;
    background: $colour-white;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem lighten(grey, 25%);
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    // ********** ANIMATION *************
    // apparition progressive des plats
    animation: fadein 0.5s linear 1 both;
        &__title{
            padding: 1rem 0 1rem 0.5rem;
            flex-grow: 1;
            overflow: hidden;
            p {
                // texte trop long...
                overflow: hidden;
                text-overflow: ellipsis;
                // ************************************
                    // description du plat
                    &:first-child{
                        padding-bottom: 0.2rem;
                        font-size: 1.1rem;
                    }
                    // 2ème ligne du plat
                    &:nth-child(2){
                        font-size: 0.9rem;
                    }
            }
        }        
        &__price{
            align-self: flex-end;
            padding: 1rem 1.5rem;
            background: $colour-white;
            border-radius: 0 0 1rem 0;
        }
        &__icon{
            border-style: none;
            outline-style: none;            
            color: $colour-white;
            background: $colour-tertiary;
            border-radius: 0 1rem 1rem 0;
            text-align: center;
            font-size: 1.5rem;
            width: 0;
            // *********** TRANSITION ***************
            // coche retour fin de clic
            transition: width $check-duration;
            i{
                transform: rotate(45deg);
                transition: $check-duration;
                &::before{
                    margin: 1rem;
                }
            }
    }
        // ********** TRANSITION **************
        // coche aller au clic
        &--check:active{
            p{
                white-space: nowrap;
            }
            .dish__icon{
                width: 20%;
                transition: width $check-duration;    
                i{
                    transform: rotate(360deg);
                    transition: $check-duration;
                    &::before{
                        margin: 1rem;
                    }
                }
            }
        }
}