@keyframes loading-spinner {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes hideLdSpinner {
    to{
        visibility: hidden;
    }
}

@keyframes dishesProgressiv {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes check {
    from{
        visibility: hidden;
        width: 0;
    }
    to{
        visibility: visible;
        width: 20%;
    }
}

@keyframes checkRotate {
    from{
        visibility: hidden;
        transform: rotate(45deg);
    }
    to{
        visibility: visible;
        transform: rotate(360deg);
    }
}