@keyframes loading-spinner {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes hideLdSpinner {
    to{
        visibility: hidden;
    }
}

@keyframes hideScrollBar {
    from{
        overflow-x: hidden;
        overflow-y: hidden;
        max-width: initial;
    }
    to{
        overflow-x: hidden;
        overflow: visible;
        max-width: 1024px;
    }
}

// MENU: apparition progressive des plats 
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}