@keyframes loading-spinner {
    0% {
    transform: rotate(0turn);
    }
    100% {
    transform: rotate(1turn);
    }
}

@keyframes hideLdSpinner {
    to{
        visibility: hidden;
    }
}

@keyframes hideScrollBar {
    from{
        overflow-y: hidden;
    }
    to{
        overflow: visible;
    }
}

// MENU: apparition progressive des plats 
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}