$colour-primary: #9356dc;
$colour-primary-hue: hue($colour-primary);
$colour-primary-light: hsl($colour-primary-hue, $saturation: 100%, $lightness: 96%);

$colour-secondary: #FF79DA;

$colour-tertiary: #99E2D0;
$colour-tertiary-dark: #008766;
$colour-white: #ffffff;
$colour-light-grey: #f6f6f6;